.page {
  height: 100%;
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  background-color: #ffffff;

  // @media (min-width: $desktop-width) {
  //   &::after {
  //     content: "";
  //     position: absolute;
  //     top: 0;
  //     left: 63.4%;
  //     width: 1px;
  //     height: 100%;
  //     background-color: #cfcfcf;
  //   }
  // }
}

.page__body {
  margin: 0;
}
